{#
/**
 * @file
 * Template for the main page.
 */
#}

{% if page.header %}
    {{ page.header }}
{% endif %}

{% if page.bridge %}
    {{ page.bridge }}
{% endif %}

<main role="main" class="error-page error-page--404 page-404">
    {% block v_page_content %}
      <div class="container">
        <div class="error-page__wrapper">
            <div class="error-page__image">
              <img src="{{ base_path ~ directory ~ '/assets/img/page-introuvable.svg' }}" alt="page 404" class="img-fluid">
            </div>
            <h1 class="error-page__title paragraph__title text-uppercase"> {{ 'Page introuvable' | trans }} </h1>
            <p class="error-page__description">
                {{ 'It seems that this page does not exist ...' | t }}
            </p>
            <p class="error-page__btn">
                <a href="{{ url('<front>') }}" class="btn btn-primary">{{ "Retour à l'accueil"|t }}</a>
            </p>
        </div>
      </div>
    {% endblock %}
</main>

{% if page.footer %}
    {{ page.footer }}
{% endif %}

{% if page.bottom %}
    {{ page.bottom }}
{% endif %}