{% set image_uri = (content.0.image.0 is defined) ? get_image(content.0.image.0) : '' %}
{% set fluid_image = image_uri|image_style('medium') %}
{% set lqip_image = image_uri|image_style('lqip') %}

<div class="fdb-block">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-8 col-xl-6 text-center">
            <img alt="{{ content.0.image_alt }}" height="25"
                class="img-fluid lazyload" 
                src="{{ lqip_image }}"
                data-src="{{ fluid_image }}">
            {% if content.0.title is not empty %}
                 <h2>{{ content.0.title }}</h2>
            {% endif %}
            {% if content.0.description is not empty %}
                <p class="lead">{{ content.0.description }}</p>
            {% endif %}
            {% if content.0.link is not empty and  content.0.link_alt is not empty %}
                <p class="text-h3 mt-5">
                    {% set link_target = (content.0.link_target > 0) ? '_blank' : '_self' %}
                    <a class="btn btn-primary" href="{{ content.0.link }}" target="{{ content.0.link_target }}">{{ content.0.link_alt }}</a>
                </p>
            {% endif %}
            {% if content.0.subtitle is not empty %}
                 <p>{{ content.0.subtitle }}</p>
            {% endif %}
        </div>
    </div>
</div>
