<div class="form-item form-group form-type-search form-item-keys form-no-label">
  {% set search = form.search_api_fulltext %}
  {% set attr = form.search_api_fulltext['#attributes'] %}
  {% set attr = attr|merge({'placeholder': 'Que recherchez-vous ?'|t, 'name': 'search_api_fulltext', 'title': 'Veuillez tapez quelque chose'|t}) %}
  {% set search = search|merge({'#attributes': attr}) %}
  {{ search }}
</div>
<div class="form-group form-actions js-form-wrapper form-wrapper">
  {% set form_submit = form.submit %}
  {% set attrib = form.submit['#attributes'] %}
  {% set attrib = attrib|merge({'class': ['button', 'btn', 'btn-primary']}) %}
  {% set form_submit = form_submit|merge({'#attributes': attrib}) %}
  {{ form_submit }}
</div>
{{ form.form_build_id }}
{{ form.form_token }}
{{ form.form_id }}
