<footer class="vf-footer vf-footer--variant2">
    <div class="vf-footer-items">
      <div class="vf-footer__top">
        {{ vactory_render('block', 'mailchimp_signup_subscribe_block:vactory_mailchimp_newsletter') }}
      </div>
      <div class="vf-footer__middle__bottom">
        <div class="vf-footer__middle">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="block-content block-footer-contacter_nous">
                                <h2>{{ "Contact Us" | t }}</h2>
                                {{ vactory_render('block', 'block-footer-contact-v2') }}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="block-content block-footer-width-text">
                                <h2>{{ "Title Block 1" | t }}</h2>
                                {{ vactory_render('block', 'block-footer-text') }}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="block-content block-footer-width-text">
                                <h2>{{ "Title Block 2" | t }}</h2>
                                {{ vactory_render('block', 'block-footer-text') }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vf-footer__bottom">
                <div class="container">
                    <div class="vf-footer__bottom--items">
                        <div class="block-content block-footer-copyright">
                            <p>{{ "Vactory 2017 © All rights reserved" | t }}</p>
                        </div>
                        <div class="block-content block-footer-realisation_void">
                            <div class="field__item">
                                <p>
                                    {{ "Design and development by VOID Agency" | t }}
                                    <img alt="Void logo" src="//place-hold.it/52x14">
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
      </div>
    </div>
</footer>
