{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}
<form{{ attributes.removeClass('form-inline') }}>
  <div class="form-row">
    {{ element.form_build_id }}
    {{ element.form_id }}
    {{ element.form_token }}
    {{ element.search_api_fulltext }}
    {{ vactory_render('block', 'frequentsearchesapiblockdefaultcontentindex') }}
    {{ element.type }}
    {{ element.actions }}
  </div>
</form>
