{% set reverse_mode = (extra_fields.mode == 1)? 'd-flex flex-column-reverse' : ' ' %}
{% set margin = (extra_fields.mode == 1)? 'mb-4' : 'mt-4' %}
{% if extra_fields.intro is not empty %}
    <div class="row text-center justify-content-center mb-3">
        <div class="col-md-10 col-lg-8">
        {% if extra_fields.intro is not empty %}
            <p>{{ extra_fields.intro }}</p>
        {% endif %}
        </div>
    </div>
{% endif %}
<div class="fdb-block ">
    <div class="container">
        <div class="row mt-5  vf-slick-slider" 
            data-toshow="3"
            data-dots="false"
            data-arrows="true"
            data-mobile-centermode="false">
            {% for item in content %}

                    <div class="col-md-8 col-lg-4 mb-3">

                {% set image_uri =(item.image.0 is defined) ? get_image(item.image.0) : '' %}
                {% set image_profile = image_uri|image_style('thumbnail') %}
                {% set lqip_image = image_uri|image_style('lqip') %}

                    <div class="fdb-box shadow-sm qoute-right {{ reverse_mode }}">
                        <div class="row no-gutters align-items-center">
                            <div class="col-3">
                                {% if item.image.0  is not empty %}
                                     <img alt="{{ item.image_alt }}"
                                        class="img-fluid lazyload rounded-circle"
                                        src="{{ lqip_image }}"
                                        data-src="{{ image_profile }}">
                                {% endif %}
                            </div>
                            <div class="col-8 ml-auto">
                                <p>
                                    {% if item.name is not empty %}
                                        <strong>{{ item.name }}</strong>
                                    {% endif %}
                                    <br>
                                    {% if item.role is not empty %}
                                        <em>{{ item.role }}</em>
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                        {% if item.description is not empty %}
                        <div class="row {{ margin }}">
                            <div class="col-12">
                                <p class="text-h3">{{ item.description }}</p>
                            </div>
                        </div>
                        {% endif %}
                    </div>

                </div>

            {% endfor %}

        </div>
    </div>
</div>
