<div class="fdb-block">
    {% if  extra_fields.title is not empty %}
    <div class="row text-center justify-content-center">
        <div class="col-8">
            <h2>{{  extra_fields.title }}</h2>
        </div>
    </div>
    {% endif %}
    <div class="row text-center">

        {% for item in content %}

            {% set image_uri = (item.image.0 is defined) ? get_image(item.image.0) : '' %}
            {% set profile_image = image_uri|image_style('large') %}
            {% set lqip_image = image_uri|image_style('lqip') %}

            <div class="col-12 col-ms-6 col-lg-3 mb-3 mb-sm-0">
                {% if item.image.0 is not empty %}
                    <div class="lazy-wrapper">
                        <img alt="{{ item.image_alt }}"
                            class="img-fluid lazyload"
                            src="{{ lqip_image }}"
                            data-src="{{ profile_image }}">
                    </div>
                {% endif %}
                {% if item.name is not empty %}
                    <h3><strong>{{ item.name }}</strong></h3>
                {% endif %}
                {% if item.role is not empty %}
                    <p>{{ item.role }}</p>
                {% endif %}
                {% if item.description is not empty %}
                    <p>{{ item.description }}</p>
                {% endif %}
            </div>

        {% endfor %}

    </div>

</div>
