
{% if  extra_fields.intro is not empty %}
    <div class="text-center">
        {{ extra_fields.intro }}
    </div>
{% endif %}
<div class="row text-center justify-content-sm-center pt-5">
    {% for item in content %}
        {% set image_uri = (item.image.0 is defined) ? get_image(item.image.0) : '' %}
        {% set profile_image = image_uri|image_style('medium') %}
        {% set lqip_image = image_uri|image_style('lqip') %}
        {% set alt_image = (item.image_alt) ? item.image_alt : item.image.alt_image %}
        <div class="col-12 col-lg-4 m-auto shadow mt-5 px-4 pb-4">
            {% if  item.image.0 is not empty %}
                <img alt="{{ alt_image }}"
                    class="lazyload img-fluid rounded-circle w-50 mt-n5"
                    src="{{ lqip_image }}"
                    data-src="{{ profile_image }}">
            {% endif %}
            {% if  item.name is not empty %}
                <h5>{{ item.name }}</h5>
            {% endif %}
            {% if  item.role is not empty %}
                <h6>{{ item.role }}</h6>
            {% endif %}
            {% if  item.linkedin is not empty %}
                <a href='{{ item.linkedin  }}' target='_blank' class='icon icon-linkedin'></a>
            {% endif %}
            {% if  item.twitter is not empty %}
                <a href='{{ item.twitter  }}' target='_blank' class='icon icon-twitter'></a>
            {% endif %}
            {% if  item.youtube is not empty %}
                <a href='{{ item.youtube  }}' target='_blank' class='icon icon-youtube'></a>
            {% endif %}
        </div>

    {% endfor %}
</div>

{% if extra_fields.btn_more is not empty %}

{% set moreLink_attributes = create_attribute() %}
{% set moreLink_attributes = extra_fields.btn_more.attributes.id is not empty ? moreLink_attributes.setAttribute('id', extra_fields.btn_more.attributes.id ) : moreLink_attributes %}
{% set moreLink_attributes = extra_fields.btn_more.attributes.target is not empty ? moreLink_attributes.setAttribute('target', extra_fields.btn_more.attributes.target ) : moreLink_attributes %}
{% set moreLink_attributes = extra_fields.btn_more.attributes.target is not empty ? moreLink_attributes.setAttribute('class', extra_fields.btn_more.attributes.class ~ 'btn btn-primary')  : moreLink_attributes.setAttribute('class','btn btn-primary') %}
{% set moreLink_attributes = extra_fields.btn_more.attributes.rel is not empty ? moreLink_attributes.setAttribute('rel', extra_fields.btn_more.attributes.rel ) : moreLink_attributes %}
  <div class="text-center mt-4">
    <a href="{{  extra_fields.btn_more.url }}"  {{ moreLink_attributes }}>
      {{ extra_fields.btn_more.title }}
    </a>
  </div>
{% endif %}
