<div class="fdb-block">
    <div class="row justify-content-center">
        <div class="col-12 text-left">
            {% if extra_fields.title is not empty %}
                <h2>{{ extra_fields.title }}</h2>
            {% endif %}
            {% if extra_fields.intro is not empty %}
                 <p class="lead">{{ extra_fields.intro }}</p>
            {% endif %}
            {% set image_uri =(extra_fields.image.0 is defined) ?  get_image(extra_fields.image.0) : '' %}
            {% set picto = image_uri|image_style('thumbnail') %}
            {% set lqip_image = image_uri|image_style('lqip') %}
            {% set alt_image = (extra_fields.image_alt) ? extra_fields.image_alt : extra_fields.image.alt_image %}

            {% if extra_fields.image.0 is not empty %}
                <div class="lazy-wrapper">
                    <img alt="{{ alt_image }}"
                        class="lazyload img-fluid mt-5"
                        src="{{ lqip_image }}"
                        data-src="{{ picto }}">
                </div>
            {% endif %}
        </div>
    </div>
    <div class="row text-left pt-5">
        {% for item in content %}

            {% set link_attributes = create_attribute() %}
            {% set link_attributes = item.attributes.id is not empty ? link_attributes.setAttribute('id', item.attributes.id ) : link_attributes %}
            {% set link_attributes = item.attributes.class is not empty ? link_attributes.setAttribute('class', item.attributes.class ) : link_attributes %}
            {% set link_attributes = item.attributes.target is not empty ? link_attributes.setAttribute('target', item.attributes.target ) : link_attributes %}
            {% set link_attributes = item.attributes.rel is not empty ? link_attributes.setAttribute('rel', item.attributes.rel ) : link_attributes %}

            {% if loop.index == 1 %}
                <div class="col-12 col-md-6">
            {% else %}
                <div class="col-12 col-md-6 pt-4 pt-md-0">
            {% endif %}
            {% if item.title is not empty %}
                <h3><strong>{{ item.title }}</strong></h3>
            {% endif %}
            {% if item.description is not empty %}
                <div>{{ item.description.value|raw }}</div>
            {% endif %}
            {% if item.link.url is not empty and item.link.title is not empty %}
                <p>
                    <a href="{{ item.link.url }}" {{ link_attributes }} > {{ item.link.title }} </a> 
                </p>
            {% endif %}
            </div>

        {% endfor %}

    </div>
</div>
