{% set _mode = (content.0.mode > 0) ? 'inversed' : null %}
{% set _btn_icon = (content.0.link_icon is not empty) ? content.0.link_icon : 'icon-arrow_forward' %}
{% set _imgVideo = (content.0.video is not empty) ? 'js-img-video' : null %}
{% set imageAlt = (content.0.image_alt is not empty) ? content.0.image_alt : content.0.title %}

{% set image_uri = (content.0.image.0 is defined) ? get_image(content.0.image.0) : "" %}
{% set lqip_image = image_uri|image_style('lqip') %}
{% set fluid_image = file_url(image_uri) %}

<div class="t-2b-image-videp-bg-title-text {{ _imgVideo }}">
  <div class="row {{ _mode }}">
    {% if content.0.mode > 0 %}
      <div class="col-12 col-md-6 d-flex flex-column justify-content-center align-items-center">
        {% if content.0.title is not empty %}
          <h2>{{ content.0.title }}</h2>
        {% endif %}
        {% if content.0.description is not empty %}
          <div class="t-description">
            {{ content.0.description.value|raw }}
          </div>
        {% endif %}
        {% if content.0.link is not empty and content.0.link_alt is not empty %}
          {% set link_target = (content.0.link_target > 0) ? '_blank' : '_self' %}
          <p><a class="btn btn-with-icon {{ _btn_icon }}" target="{{ link_target }}"
                href="{{ content.0.link }}">{{ content.0.link_alt }}</a></p>
        {% endif %}
      </div>
      <div class="col-12 col-md-6">
        <div class="t-2b-image-bg block-imag mb-3 mb-lg-0">
          {% if content.0.titleVideo is not empty %}
            <p class="t-video-title"> {{ content.0.titleVideo }}</p>
          {% endif %}
          {% if content.0.video is not empty %}
          <a class="image-scale" data-fancybox href="{{ "https://www.youtube-nocookie.com/embed/" ~ content.0.video }}"> {% endif %}
            {% if content.0.image.0 is not empty %}
              <img alt="{{ imageAlt }}"
                   class="img-fluid lazyload"
                   src="{{ lqip_image }}"
                   data-src="{{ fluid_image }}">
            {% endif %}
            {% if content.0.video is not empty %} </a> {% endif %}
        </div>
      </div>
    {% else %}
      <div class="col-12 col-md-6">
        <div class="t-2b-image-bg block-image mb-3 mb-lg-3">
          {% if content.0.titleVideo is not empty %}
            <p class="t-video-title"> {{ content.0.titleVideo }}</p>
          {% endif %}
          {% if content.0.video is not empty %}
          <a class="image-scale" data-fancybox href="{{ "https://www.youtube-nocookie.com/embed/" ~ content.0.video }}"> {% endif %}
            {% if content.0.image.0 is not empty %}
              <img alt="{{ imageAlt }}"
                   class="img-fluid lazyload"
                   src="{{ lqip_image }}"
                   data-src="{{ fluid_image }}">
            {% endif %}
            {% if content.0.video is not empty %} </a> {% endif %}
        </div>
      </div>
      <div class="col-12 col-md-6 d-flex flex-column justify-content-center align-items-center">
        {% if content.0.title is not empty %}
          <h2>{{ content.0.title }}</h2>
        {% endif %}
        {% if content.0.description is not empty %}
          <div class="t-description">
            {{ content.0.description.value|raw }}
          </div>
        {% endif %}

        {% if content.0.link is not empty and content.0.link_alt is not empty %}
          {% set link_target = (content.0.link_target > 0) ? '_blank' : '_self' %}
          <p><a class="btn btn-with-icon {{ _btn_icon }}" target="{{ link_target }}"
                href="{{ content.0.link }}">{{ content.0.link_alt }}</a></p>
        {% endif %}
      </div>
    {% endif %}
  </div>
</div>
