<div class="fdb-block">
    {% if extra_fields.title is not empty %}
        <div class="row text-center">
            <div class="col-12">
                <h2>{{ extra_fields.title }}</h2>
            </div>
        </div>
    {% endif %}
    <div class="row text-left mt-5">
        {% for item in content %}

            {% if loop.index == 4 %}

                </div><div class="row text-left pt-3 pt-sm-4 pt-md-5">

            {% endif %}

            {% if loop.index == 1 or loop.index == 4 %}
                <div class="col-12 col-md-4">
            {% else %}
                <div class="col-12 col-md-4 pt-3 pt-sm-4 pt-md-0">
            {% endif %}

                {% set image_uri = (item.image.0 is defined) ? get_image(item.image.0) : '' %}
                {% set picto = image_uri|image_style('medium') %}
                {% set lqip_image = image_uri|image_style('lqip') %}

                <div class="row">
                    {% if item.image.0 is not empty %}
                        <div class="col-3">
                            <img alt="{{ item.image_alt }}"
                                class="lazyload fdb-icon"
                                src="{{ lqip_image }}"
                                data-src="{{ picto }}">
                        </div>
                    {% endif %}
                    <div class="col-9">
                        {% if  item.title is not empty %}
                            <h3><strong>{{ item.title }}</strong></h3>
                        {% endif %}
                        {% if  item.description is not empty %}
                             <p>{{ item.description }}</p>
                        {% endif %}
                    </div>
                </div>

            </div>

        {% endfor %}

    </div>
</div>
