<div class="fdb-block team-7">
    {% if  extra_fields.title is not empty %}
        <div class="row text-center justify-content-center">
            <div class="col-8">
                <h2>{{  extra_fields.title }}</h2>
            </div>
        </div>
    {% endif %}
    <div class="row justify-content-center vf-slick-slider vf-slick-mobile" data-arrows="false">

        {% for item in content %}


            {% set image_uri = (item.image.0 is defined) ? get_image(item.image.0) : '' %}
            {% set profile_image = image_uri|image_style('thumbnail') %}
            {% set lqip_image = image_uri|image_style('lqip') %}
            <div class="col-12 col-sm-6 col-lg-4 mx-auto mb-3">
                <div class="row align-items-center">
                    <div class="col-sm-4 col-12 d-flex d-sm-block justify-content-center">
                        {% if item.image.0 is not empty %}
                            <img alt="{{ item.image_alt }}"
                                class="img-fluid rounded-circle lazyload"
                                src="{{ lqip_image }}"
                                data-src="{{ profile_image }}">
                        {% endif %}
                    </div>
                    <div class="col-sm-8 col-12 d-flex d-sm-block justify-content-center flex-column text-center text-sm-left">
                        {% if item.name  is not empty %}
                            <h3>{{ item.name }}</h3>
                        {% endif %}
                        {% if item.role is not empty %}
                            <p>{{ item.role }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>

        {% endfor %}

    </div>

</div>
