{% set image_uri_1 = (content.0.image_1.0 is defined) ? get_image(content.0.image_1.0) : '' %}
{% set fluid_image = image_uri_1|image_style('max_650x650') %}
{% set lqip_image_1 = image_uri_1|image_style('lqip') %}

{% set image_uri_2 = (content.0.image_2.0 is defined) ? get_image(content.0.image_2.0) : '' %}
{% set thumb_1 = image_uri_2|image_style('thumbnail') %}
{% set lqip_image_2 = image_uri_2|image_style('lqip') %}

{% set image_uri_3 = (content.0.image_3.0 is defined) ? get_image(content.0.image_3.0) : '' %}
{% set thumb_2 = image_uri_3|image_style('thumbnail') %}
{% set lqip_image_3 = image_uri_3|image_style('lqip') %}

{% set image_uri_4 = (content.0.image_4.0 is defined) ? get_image(content.0.image_4.0) : '' %}
{% set thumb_3 = image_uri_4|image_style('thumbnail') %}
{% set lqip_image_4 = image_uri_4|image_style('lqip') %}

<div class="fdb-block">
    <div class="row align-items-center">
        <div class="col-12 col-md-7 col-lg-5 ml-md-auto">
            {% if content.0.title is not empty %}
                 <h2>{{ content.0.title }}</h2>
            {% endif %}
            {% if content.0.description is not empty %}
                <p class="text-h3">{{ content.0.description }}</p>
            {% endif %}
            <p class="mt-5">
                {% if content.0.image_2.0 is not empty %}
                    <img alt="{{ content.0.image_alt_2 }}" height='25'
                        class="mr-4 lazyload"
                        src="{{ lqip_image_2}}"
                        data-src="{{ thumb_1 }}">
                {% endif %}
                {% if content.0.image_3.0 is not empty %}
                    <img alt="{{ content.0.image_alt_3 }}" height='25'
                        class="mr-4 lazyload"
                        src="{{ lqip_image_3}}"
                        data-src="{{ thumb_2 }}">
                {% endif %}
                {% if content.0.image_4.0 is not empty %}
                    <img alt="{{ content.0.image_alt_4 }}" height='25'
                        class="mr-4 lazyload"
                        src="{{ lqip_image_4}}"
                        data-src="{{ thumb_3 }}">
                {% endif %}
            </p>
        </div>

        <div class="col-10 col-sm-6 col-md-5 col-lg-4 m-auto pt-5 pt-md-0">
            {% if content.0.image_1.0 is not empty %}
                <div class="img-ratio">
                    <img alt="{{ content.0.image_alt_1  }}"
                        class="mr-4 lazyload"
                        src="{{ lqip_image_1}}"
                        data-src="{{ fluid_image }}">
                </div>        
            {% endif %}
        </div>
    </div>
</div>
