<div class="container">
    <div class="row">
        {% for item in content %}

        {% set link_attributes = create_attribute() %}
        {% set link_attributes = item.link.attributes.id is not empty ? link_attributes.setAttribute('id', item.link.attributes.id ) : link_attributes %}
        {% set link_attributes = item.link.attributes.class is not empty ? link_attributes.setAttribute('class', item.link.attributes.class ~ ' btn btn-block btn-primary') : link_attributes.setAttribute('class','btn btn-block btn-primary') %}
        {% set link_attributes = item.link.attributes.target is not empty ? link_attributes.setAttribute('target', item.link.attributes.target ) : link_attributes %}
        {% set link_attributes = item.link.attributes.rel is not empty ? link_attributes.setAttribute('rel', item.link.attributes.rel ) : link_attributes %}

        <div class="col-md-4 text-center">
            <div class="box">
                <div class="box-content">
                    <h1 class="tag-title">{{ item.title }}</h1>
                    <hr/>
                    <p>{{ item.description }}</p>
                    <br/>
                    <a  href="{{ item.link.url }}" {{ link_attributes }} > {{ item.link.title }} </a> 
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>