{#
/**
 * @file
 * Article Component.
 * themes/interface/src/scss/stylesheets/components/article/_article.scss
 */
#}
{% if classes is not defined %}
  {% set classes = [] %}
{% endif %}
{% set classes = classes|merge(['card','card--inline', 'notifications']) %}
<article {{ attributes.addClass(classes) }}>
  <div class="card-col position-relative card-body--inline">
    <div class="card-body">
      <h4{{ title_attributes }} class="card-title">
        <span class="link font-semibold text-uppercase font-20">{{ fields.name.content }}</span>
      </h4>
      <h6 class="card-subtitle mb-2">
        <span class="badge badge-primary">{{ fields.created.content }}</span>
      </h6>
      <div class="card-text">{{ fields.notification_message.content }}</div>
      {% if related_content_url is not null %}
        <div class="card-read-more">
          <a href="{{ related_content_url }}" class="btn btn-primary">{{ "Consulter"|t }}</a>
        </div>
      {% endif %}
    </div>
  </div>
</article>

