<div class="t-boxes-with-image-title-and-introduction">
  {% if extra_fields.intro is not empty %}
    <div class="intro">
      {{ extra_fields.intro }}
    </div>
  {% endif %}
  <div class="vf-slick-slider row justify-content-center"
       data-toshow="4" data-arrows="true" data-dots="false">
    {% for item in content %}
      {% set image_uri = (item.image.0 is defined) ? get_image(item.image.0) : ' ' %}
      {% set fluid_image = file_url(image_uri) %}
      {% set lqip_image = image_uri|image_style('lqip') %}
      {% set image_alt = (item.image_alt) ? item.image_alt : item.image.alt_image %}

      {% set link_attributes = create_attribute() %}
      {% set link_attributes = item.link.attributes.id is not empty ? link_attributes.setAttribute('id', item.link.attributes.id ) : link_attributes %}
      {% set link_attributes = item.link.attributes.class is not empty ? link_attributes.setAttribute('class', item.link.attributes.class ) : link_attributes %}
      {% set link_attributes = item.link.attributes.target is not empty ? link_attributes.setAttribute('target', item.link.attributes.target ) : link_attributes %}
      {% set link_attributes = item.link.attributes.rel is not empty ? link_attributes.setAttribute('rel', item.link.attributes.rel ) : link_attributes %}

      <div class="col-lg-3 text-center">
        <div class="t-box-image">
          {% if item.link.url is not empty %}
            <a href="{{ item.link.url }}" {{ link_attributes }} >
          {% endif %}
            <div class="lazy-wrapper">
              <img class="lazyload"
                   alt="{{ image_alt }}"
                   src="{{ lqip_image }}"
                   data-src="{{ fluid_image }}">
            </div>
            {% if item.link.url is not empty %} </a> {% endif %}
        </div>
        {% if item.link.title is not empty %}
          <div class="t-box-title p-3">
            {% if item.link.url is not empty %}
              <a href="{{ item.link.url }}" {{ link_attributes }} >
            {% endif %}
              <h5>{{ item.link.title }}</h5>
              {% if item.link.url is not empty %} </a> {% endif %}
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>

{% if extra_fields.btn_more is not empty %}

{% set moreLink_attributes = create_attribute() %}
{% set moreLink_attributes = extra_fields.btn_more.attributes.id is not empty ? moreLink_attributes.setAttribute('id', extra_fields.btn_more.attributes.id ) : moreLink_attributes %}
{% set moreLink_attributes = extra_fields.btn_more.attributes.target is not empty ? moreLink_attributes.setAttribute('target', extra_fields.btn_more.attributes.target ) : moreLink_attributes %}
{% set moreLink_attributes = extra_fields.btn_more.attributes.target is not empty ? moreLink_attributes.setAttribute('class', extra_fields.btn_more.attributes.class ~ 'btn btn-primary')  : moreLink_attributes.setAttribute('class','btn btn-primary') %}
{% set moreLink_attributes = extra_fields.btn_more.attributes.rel is not empty ? moreLink_attributes.setAttribute('rel', extra_fields.btn_more.attributes.rel ) : moreLink_attributes %}
  <div class="text-center mt-4">
    <a href="{{  extra_fields.btn_more.url }}"  {{ moreLink_attributes }}>
      {{ extra_fields.btn_more.title }}
    </a>
  </div>
{% endif %}
