<div class="jumbotron">
    <h1 class="display-4">{{ content.0.title }}</h1>
    <p class="lead">
        {{ content.0.lead }}
    </p>
    <hr class="my-4">
    <p>
        {{ content.0.description }}
    </p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="{{ content.0.cta }}" role="button">{{ 'Learn more' | t }}</a>
    </p>
</div>