{% set floated = (content.0.mode == 1)? 'justify-content-end' : '' %}
{% set touch = (content.0.touch == 1)? 'fdb-touch' : '' %}

{% set link_attributes = create_attribute() %}
{% set link_attributes = content.0.link.attributes.id is not empty ? link_attributes.setAttribute('id', content.0.link.attributes.id ) : link_attributes %}
{% set link_attributes = content.0.link.attributes.class is not empty ? link_attributes.setAttribute('class', content.0.link.attributes.class ) : link_attributes %}
{% set link_attributes = content.0.link.attributes.target is not empty ? link_attributes.setAttribute('target', content.0.link.attributes.target ) : link_attributes %}
{% set link_attributes = content.0.link.attributes.rel is not empty ? link_attributes.setAttribute('rel', content.0.link.attributes.rel ) : link_attributes %}

<div class="fdb-block py-0">
  <div class="row text-left {{ floated }}">
    <div class="col-12 col-md-8 col-lg-6">
      <div class="fdb-box rounded-bottom-0 {{ touch }}">
        {% if content.0.title is not empty %}
          <h2><strong>{{ content.0.title }}</strong></h2>
        {% endif %}
        {% if content.0.description is not empty %}
          <p class="text-h3">{{ content.0.description }}</p>
        {% endif %}
        {% if ontent.0.link.url is not empty and content.0.link.title is not empty %}
          <p class="text-h3 mt-4">
            <a  href="{{ content.0.link.url }}" {{ link_attributes }} > {{ content.0.link.title }} </a>
          </p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
