<form {{ attributes }}>
  <div class="row">
    <div class="col-md-6">
      {{ element.progress }}
      {{ element.form_build_id }}
      {{ element.form_token }}
      {{ element.form_id }}
      {{ element.elements }}
    </div>
    <div class="col-md-6">
      {{ element.summary }}
    </div>
  </div>
</form>
