<style>
    .page-summary:focus {
        box-shadow: unset;
    }
</style>
<div class="progress" data-drupal-progress="" data-once="batch">
	<div id="updateprogress" class="progress" aria-live="polite">
		<div class="progress__label">{{ 'Avancement...' }}</div>
		<div class="progress__track">
			<div class="progress__bar" style="width: {{ pourcentage }};"></div>
		</div>
		<div class="progress__percentage" style="font-size: 40px; font-weight: bold">{{ pourcentage }}</div>
	</div>
</div>

<div class="view view-content">
	<div class="view-filters">
		{{ filter_form }}
	</div>
</div>

{% if content is empty %}
	<h6>{{ 'No pending content has been found.'|t }}</h6>
{% else %}
	<div style="">
		{% for item in content %}
			{% if item.entity_type == 'node' %}
				<details data-once="details" style="border: 2px solid #808080; border-radius: 8px; margin: 8px;">
					<summary class="page-summary" style="display: flex; cursor: pointer;">
						<h2>{{ item.title }}</h2>
						<span style="background: orangered; color: white; border-radius: 3px; font-size: small; height: 20px; padding: 3px">{{ 'Page'|t }}</span>
					</summary>
					<a href="{{ item.alias }}" class="button button--secondary" style="margin: 10px" target="_blank">{{ 'Visiter cette page'|t }}</a>
					<div class="fieldset-wrapper">
						{% for paragraph in item.content %}
							<div style="display: flex; /*border: 2px solid #a1a1a1;*/ border-radius: 8px; margin: 8px;">
								<div style="width: 50%">
									<img
										class="screenshot"
										src="{{ paragraph.screenshot }}"
										alt="Screenshot for Component"
										title="Screenshot for Component"
										typeof="foaf:Image"
									>
								</div>
								<div style="width: 50%">
									<div>
										<h4>{{ paragraph.widget_name }}</h4>
										<ul>
											<li>Champs concernés: <strong>{{ paragraph.fields|join(', ') }}</strong></li>
											<li>Langue: <strong>{{ paragraph.language }}</strong></li>
										</ul>
									</div>
									<div style="padding: 10px">
										<a href="{{ paragraph.edit_link }}" class="button button--primary">{{ 'Modifier'|t }}</a>
									</div>
								</div>
							</div>
							{% if not loop.last %}
								<hr>
							{% endif %}
						{% endfor %}
					</div>
				</details>
			{% else %}
				<details class="fieldset" style="border: 2px solid #808080; border-radius: 8px; margin: 8px;">
					<summary class="page-summary" style="display: flex; cursor: pointer;">
						<h2>{{ item.title }}</h2>
						<span style="background: mediumslateblue; color: white; border-radius: 3px; font-size: small; height: 20px; padding: 3px">{{ 'Bloc'|t }}</span>
					</summary>
					<div class="fieldset-wrapper" style="display: flex;">
						<div style="width: 50%">
							<img
								class="screenshot"
								src="{{ item.screenshot }}"
								alt="Screenshot for Component"
								title="Screenshot for Component"
								typeof="foaf:Image"
							>
						</div>
						<div style="width: 50%">
							<div>
								<h4>{{ item.widget_name }}</h4>
								<ul>
									<li>Champs concernés: <strong>{{ item.fields|join(', ') }}</strong></li>
									<li>Langue: <strong>{{ item.language }}</strong></li>
								</ul>
							</div>
							<div style="padding: 10px">
								<a href="{{ item.edit_link }}" class="button button--primary">{{ 'Modifier'|t }}</a>
							</div>
						</div>
					</div>
				</details>
			{% endif %}
		{% endfor %}
	</div>
{% endif %}
