<div class="mt-4">
	<div class="shadow p-3 mb-3 bg-white rounded">
		<h3>
			{{ 'Your score'|t }}: <span class="border rounded-circle border-danger p-2 text-danger font-weight-bold">{{ content.results.user_mark }}/{{ content.perfect_mark }}</span>
		</h3>
		{% if content.quiz_history %}
			<h3>
				{{ 'Your best score in this quiz'|t }}: <span class="border rounded-circle border-danger p-2 text-danger font-weight-bold">{{ content.results.perfect_mark }}/{{ content.perfect_mark }}</span>
			</h3>
		{% endif %}
	</div>

	{% if content.show_correction %}
		<p>
			<a class="btn btn-primary" data-toggle="collapse" href="#collapseQuizCorrection" role="button" aria-expanded="false" aria-controls="collapseQuizCorrection">
				{{ "Voir la correction"|t }}
			</a>
		</p>
		<div class="collapse shadow p-3 mb-5 bg-white rounded" id="collapseQuizCorrection">
			<h3>{{ 'Quiz correction'|t }}:</h3>
			{% include '@vactory_quiz/quiz-correction.html.twig' with {
				'content': content
			}%}
		</div>
	{% endif %}
	{% if content.certificat_url is not empty and content.certificat_url != 1 %}
		<p class="mb-3">
			<a class="btn btn-primary suffix-icon-download" href="{{ content.certificat_url }}" download>
				{{ "Télécharger mon certificat"|t }}
			</a>
		</p>
	{% endif %}
	{% if content.certificat_url is not empty and content.certificat_url == 1 %}
		<p class="mb-3 text-muted d-block">
			{{ 'Congrats! Your certificate is in progress...'|t }}
			<br>
			{% if content.enable_email %}
				{{ 'Once your certificate is generated you will receive it by email.'|t }}
			{% else %}
				{{ 'Please come back later to download it.'|t }}
			{% endif %}
		</p>
	{% endif %}
	{% if content.certificat_print_url is not empty %}
		<p class="mb-3">
			<a class="btn btn-primary suffix-icon-eye" href="{{ content.certificat_print_url }}">
				{{ "Voir mon certificat"|t }}
			</a>
		</p>
	{% endif %}
</div>
