{{ attach_library('vactory_dynamic_field_default/df_default_widget_49_script') }}

{% if dir == 'rtl' %}
  {{ attach_library('vactory_dynamic_field_default/df_default_widget_49_rtl') }}
{% else %}
  {{ attach_library('vactory_dynamic_field_default/df_default_widget_49') }}
{% endif %}


<div class="uix-toolbox">
  <ul class="uix-toolbox__items-list">
    {% for item in content %}
      <li class="uix-toolbox__item">
        {% set icon_class = "icon icon-" ~ item.icon %}
        {% set link_attributes = create_attribute() %}
        {% set link_attributes = item.link.attributes.id is not empty ? link_attributes.setAttribute('id', item.link.attributes.id ) : link_attributes %}
        {% set link_attributes = item.link.attributes.class is not empty ? link_attributes.setAttribute('class', item.link.attributes.class) : link_attributes.setAttribute('class', '') %}
        {% set link_attributes = item.link.attributes.target is not empty ? link_attributes.setAttribute('target', item.link.attributes.target ) : link_attributes %}
        {% set link_attributes = item.link.attributes.rel is not empty ? link_attributes.setAttribute('rel', item.link.attributes.rel ) : link_attributes %}

        {% if item.link.url is not empty and item.link.title is not empty %}
          <a href="{{ item.link.url }}" {{ link_attributes.addClass('uix-toolbox__item__button') }}>
            <i class="uix-toolbox__item__icon {{ icon_class }}"></i>
            <span class="uix-toolbox__item__title">
              {{ item.link.title }}
            </span>
          </a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>

  <button class="uix-toolbox__trigger">
    <i class="icon icon-clic"></i>
  </button>
</div>
