{% set background_uri =(extra_fields.background.0 is defined) ? get_image(extra_fields.background.0) : '' %}
{% set cover = background_uri|image_style('max_1300x1300') %}

{% set color = (extra_fields.color > 0) ? 'bg-dark' : '' %}

<div class="fdb-block" style="background-image: url({{ cover }});">
    <div class="row text-center">
        <div class="col">
            {% if extra_fields.title is not empty %}
                <h2>{{ extra_fields.title }}</h2>
            {% endif %}
        </div>
    </div>

    <div class="row mt-5 align-items-center">

        {% for item in content %}
            <div class="col-12 col-sm-10 col-md-8 col-md-8 m-auto col-lg-4 text-center">
                <div class="{{ color }} pb-5 pt-5 pl-3 pr-3 fdb-touch br">
                    {% if item.title is not empty %}
                        <h2 class="font-weight-light">{{ item.title }}</h2>
                    {% endif %}
                    {% if item.price is not empty %}
                        <p class="text-h2"><strong>{{ item.price }}</strong></p>
                    {% endif %}
                    {% if item.description is not empty %}
                        <p class="text-h3">{{ item.description }}</p>
                    {% endif %}
                    {% if item.lists is not empty %}
                        <div class="text-left">{{ item.lists.value | raw }}</div>
                    {% endif %}
                    {% if item.link is not empty and item.link_alt is not empty %}
                        {% set link_target = (content.0.link_target > 0) ? '_blank' : '_self' %}
                        <p><a class="btn btn-primary mt-4" href="{{ item.link }}" target="{{ link_target }}">{{ item.link_alt }}</a></p>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
