<div class="card card-appointement card p-3 p-lg-6 text-center text-center">
  <h5>{{ title }}</h5>
  <div class="d-flex flex-column flex-sm-row justify-content-center">
    <a href="{{ url_login }}" class="btn btn-primary mb-2 mb-sm-0">{{ 'Se connecter'|t }}</a>
    <a href="{{ url_register }}" class="btn btn-secondary  ml-sm-1">{{ 'Créer un compte'|t }}</a>
  </div>
</div>
