{{ attach_library('vactory_dynamic_field_sliders/variant3') }}

<style>
  {% for item in content %}
  {% set bgColor = (item.slider_bg) ? item.slider_bg : '4CA1E4' %}
  .vf-slider--tabs-slider .tab-content > .tab-pane-{{ loop.index }} {
    background: #{{ bgColor }}
  }

  @media (max-width: 768px) {
    .tab-pane-{{ loop.index }} {
      background-color: transparent !important;
      background-image: linear-gradient(to top, #{{ bgColor }}, transparent) !important;
    }
  }

  .vf-slider--tabs-slider .nav-tabs .nav-item-{{ loop.index }}.active {
    background: #{{ bgColor }};
  }
  {% endfor %}
</style>

<div class="vf-slider--tabs-slider onload">

  <div class="backgrounds">
    {% for item in content %}
      {% set is_active = (loop.first) ? 'is-active' : '' %}
      {% set image = (item.image.0 is defined) ? get_image_url(item.image.0) : '' %}

      {% if item.video is not empty %}
        <div id="slider-background-video{{ loop.index }}" class="background is-video {{ is_active }}"
             data-item="{{ loop.index }}"></div>
        <div class="ytplayer"
             data-property="{
                 videoURL:'http://youtu.be/{{ item.video }}',
                 containment:'#slider-background-video{{ loop.index }}',
                 showYTLogo: false,
                 ratio:'16/9',
                 autoPlay:false,
                 showControls: false,
                 quality: 'large',
                 mute:true,
                 startAt:0,
                 loop: 10,
                 opacity:1
                 }">
        </div>
      {% else %}
        <div class="background is-image {{ is_active }}" data-item="{{ loop.index }}" data-media="{{ image }}"></div>
      {% endif %}
    {% endfor %}
  </div>


  <div class="tabs-container">
    <ul class="nav nav-tabs" id="sliderTab" role="tablist">
      {% for item in content %}
        {% set is_active = (loop.first) ? 'active' : '' %}
        <li class="nav-item">
          <a class="nav-link {{ is_active }} nav-item-{{ loop.index }}"
             id="slider-tab-{{ loop.index }}" data-item="{{ loop.index }}" data-toggle="tab"
             href="#slider-content-{{ loop.index }}" role="tab" aria-selected="true" data-color="#{{ item.slider_bg }}">
            {% if item.title is not empty %}
              <span class="d-none d-md-block">{{ item.title }}</span>
            {% endif %}
            <span class="d-md-none">{{ loop.index }}</span>
          </a>
        </li>
      {% endfor %}
    </ul>

    <div class="tab-content" id="sliderTabContent">
      {% for item in content %}
        {% set is_active = (loop.first) ? 'show active' : '' %}
        <div class="tab-pane fade {{ is_active }} tab-pane-{{ loop.index }}"
             id="slider-content-{{ loop.index }}" role="tabpanel" data-color="#{{ item.slider_bg }}">
          {% if item.title is not empty %}
            <p class="d-md-none subtitle-tab">
              {{ item.title }}
            </p>
          {% endif %}
          {% if item.title_description is not empty %}
            <h2 class="h2">{{ item.title_description }}</h2>
          {% endif %}
          {% if item.content.value is not empty %}
            {{ item.content.value | raw }}
          {% endif %}
          {% if item.cta_url is not empty %}
            <a href="{{ item.cta_url }}" class="permalink">{{ 'Découvrir' | t }}</a>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>

  <button class="scroll-bottom d-none d-lg-block"><span class="text-hide">{{ 'Descendre vers le bas' | t }}</span></button>
</div>
