<div class='row rapport-wrapper'>
    {% for item in content %}
        {% set image_uri = (item.background_img.0 is defined) ? get_image(item.background_img.0) : '' %} 
        {% set fluid_image = file_url(image_uri) %}
        {% set margin = (item.mode == 1)? 'm-0' : ' ' %}

        <div class='col-12 {{item.col}} rapport-card'>
            {% if item.link is not empty and item.mode == 0 %}
                {% set link_target = (item.link_target > 0) ? '_blank' : '_self' %}
                <a href='{{item.link}}' target="{{ link_target }}" >
            {% endif %}  
                <div class='rapport-card_item d-flex flex-column justify-content-between' style="background-image: url('{{ fluid_image }}');background:#{{ item.background_color }};">
                    <div>{{item.tag}}</div>
                    {% if item.mode == 1 %}
                        <div class='rapport-card_video'>
                            <a data-fancybox href='{{item.link}}' >
                                <i class='icon-play'></i>
                            </a>
                        </div>  
                    {% endif %}
                    <div class='rapport-card_description {{ margin }}'>
                        <h2>{{item.titre}}</h2>
                        {{item.description}}
                    </div>
                    {% if item.file is not empty %}
                        <a href='{{item.file}}' > {{ 'Télécharger '|t }} <i class='icon-download'></i></a>
                    {% endif %}    
                </div>
            {% if item.link is not empty and item.mode == 0 %}
                <a href='{{item.link}}' >
            {% endif %} 
            {% if item.link is not empty and item.mode == 0 %}
                </a>
            {% endif %}       
        </div>
    {% endfor %}
</div>