<div class="fdb-block">
    <div class="row text-left">
        {% for item in content %}

            {% set link_attributes = create_attribute() %}
            {% set link_attributes = item.attributes.id is not empty ? link_attributes.setAttribute('id', item.attributes.id ) : link_attributes %}
            {% set link_attributes = item.attributes.class is not empty ? link_attributes.setAttribute('class', item.attributes.class ~ ' btn btn-primary') : link_attributes.setAttribute('class','btn btn-primary') %}
            {% set link_attributes = item.attributes.target is not empty ? link_attributes.setAttribute('target', item.attributes.target ) : link_attributes %}
            {% set link_attributes = item.attributes.rel is not empty ? link_attributes.setAttribute('rel', item.attributes.rel ) : link_attributes %}

            {% if loop.index == 1 %}
                <div class="col-12 col-md-8 m-auto col-lg-4">
            {% else %}
                <div class="col-12 col-md-8 m-auto col-lg-4 pt-5 pt-lg-0">
            {% endif %}

                <div class="fdb-box fdb-touch">
                    {% if item.title is not empty %}
                         <h2>{{ item.title }}</h2>
                    {% endif %}
                    {% if item.description is not empty %}
                        <p>{{ item.description }}</p>
                    {% endif %}
                    {% if item.link.url is not empty and item.link.title is not empty %}
                        <p class="mt-3">
                            <a  href="{{ item.link.url }}" {{ link_attributes }} > {{ item.link.title }} </a> 
                        </p>
                    {% endif %}

                </div>

            </div>

        {% endfor %}

    </div>
</div>