<div class="t-slider-cards t-3-cols">
  {% if extra_fields.bigtitle is not empty %}
    <h3>{{ extra_fields.bigtitle }}</h3>
  {% endif %}
  <div class="row vf-slick-slider"
       data-mobile-arrows="true"
       data-toshow="3">
    {% for item in content %}
      {% set image_uri = (item.image.0 is defined) ? get_image(item.image.0) : "" %}
      {% set lqip_image = image_uri|image_style('lqip') %}
      {% set fluid_image = file_url(image_uri) %}

      {% set imageAlt = (item.image_alt is not empty) ? item.image_alt : "Image" %}
      <div class="col-md-4">
        <div class="t-box">
          {% if item.image is not empty %}
            <div class="t-box-img-wrapper">
              <img class="img-fluid lazyload"
                   alt="{{ imageAlt }}"
                   src="{{ lqip_image }}"
                   data-src="{{ fluid_image }}"/>
              {% endif %}
            </div>
          {% if item.title is not empty %}
            <h3 class="t-card-title">{{ item.title }}</h3>
          {% endif %}
          <div class="t-box-description-link">
            {% if item.description is not empty %}
              <div class="t-box-description">
                {{ item.description.value|raw }}
              </div>
            {% endif %}
            {% if item.link is not empty and item.link_alt is not empty %}
              {% set link_target = (item.link_target > 0) ? '_blank' : '_self' %}
              <a href="{{ item.link }}" target="{{ link_target }}" class="btn btn-primary">{{ item.link_alt }}</a>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="slick-controls d-lg-none"></div>
</div>
