<div class="t-boxes-with-image-title-and-introduction">
  {% if extra_fields.intro is not empty %}
    <div class="intro">
      {{ extra_fields.intro }}
    </div>
  {% endif %}
  <div class="vf-slick-slider row justify-content-center"
       data-toshow="4" data-arrows="true" data-dots="false">
    {% for item in content %}
      {% set image_uri = (item.image.0 is defined) ? get_image(item.image.0) : ' ' %}
      {% set fluid_image = file_url(image_uri) %}
      {% set lqip_image = image_uri|image_style('lqip') %}
      {% set image_alt = (item.image_alt is not empty) ? item.image_alt : 'Image alt' %}
      {% set link_target = (item.link_target > 0) ? '_blank' : '_self' %}

      <div class="col-lg-3 text-center">
        <div class="t-box-image">
          {% if item.link is not empty %} <a href="{{ item.link }}" target="{{ link_target }}"> {% endif %}
            <div class="lazy-wrapper">
              <img class="lazyload"
                   alt="{{ image_alt }}"
                   src="{{ lqip_image }}"
                   data-src="{{ fluid_image }}">
            </div>
            {% if item.link is not empty %} </a> {% endif %}
        </div>
        {% if item.title is not empty %}
          <div class="t-box-title p-3">
            {% if item.link is not empty %} <a href="{{ item.link }}" target="{{ link_target }}"> {% endif %}
              <h5>{{ item.title }}</h5>
              {% if item.link is not empty %} </a> {% endif %}
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>
