<div class="fdb-block">
            {% if extra_fields.title is not empty %}
            <div class="row text-center">
              <div class="col">
                <h2>{{ extra_fields.title }}</h2>
              </div>
            </div>
            {% endif %}
    <div class="row mt-5 align-items-top">

        {% for item in content %}

            {% set link_attributes = create_attribute() %}
            {% set link_attributes = item.link.attributes.id is not empty ? link_attributes.setAttribute('id', item.link.attributes.id ) : link_attributes %}
            {% set link_attributes = item.link.attributes.class is not empty ? link_attributes.setAttribute('class', item.link.attributes.class ~ ' btn btn-primary mt-4') : link_attributes.setAttribute('class','btn btn-primary mt-4') %}
            {% set link_attributes = item.link.attributes.target is not empty ? link_attributes.setAttribute('target', item.link.attributes.target ) : link_attributes %}
            {% set link_attributes = item.link.attributes.rel is not empty ? link_attributes.setAttribute('rel', item.link.attributes.rel ) : link_attributes %}

            {% if loop.index >= 2 %}
                <div class="col-12 col-sm-10 col-md-6 col-lg-5 m-auto col-xl-3 text-left pt-5 pt-md-0">
            {% else %}
                <div class="col-12 col-sm-10 col-md-6 col-lg-5 m-auto col-xl-3 text-left">
            {% endif %}

                <div class="bg-gray p-3 text-center br sl-1">
                    {% if item.title is not empty %}
                         <h2 class="font-weight-light">{{ item.title }}</h2>
                    {% endif %}
                    {% if item.price is not empty %}
                        <p class="text-h2">{{ item.price }}</p>
                    {% endif %}
                    {% if item.link.url is not empty and item.link.title is not empty %}
                        <p class="text-center">
                            <a href="{{ item.link.url }}" {{ link_attributes }} > {{ item.link.title }} </a>
                        </p>
                    {% endif %}
                    <hr class="mt-5 mb-5">
                    {% if item.lists is not empty %}
                        <div>{{ item.lists.value | raw }}</div>
                    {% endif %}
                </div>

            </div>

        {% endfor %}

    </div>
</div>
