{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
{% for row in rows %}
  <div class="row mb-3">
    <article class="card card--inline w-100">
      <div class="card-body d-flex align-items-lg-center flex-lg-row justify-content-lg-between">
        <div class="card-content">
          <h5 class="card-title">
            <a href="{{ row.content['#row'].url }}" class="link">{{ row.content['#row'].label }}</a>
          </h5>
          <p class="card-text">{{ row.content['#row'].excerpt|raw }}</p>
        </div>

        <div class="card-readmore">
          <a href="{{ row.content['#row'].url }}" class="permalink">{{ 'Lire plus' }}</a>
        </div>
      </div>
    </article>
  </div>
{% endfor %}
