<div class="fdb-block">
    {% if extra_fields.title is not empty %}
        <div class="row text-center pb-0 pb-lg-4">
            <div class="col-12">
                <h2>{{ extra_fields.title }}</h2>
            </div>
        </div>
    {% endif %}
    <div class="row text-center pt-4 pt-md-5">

        {% for item in content %}

            {% if loop.index == 2 %}
                <div class="col-12 col-sm-10 col-md-6 col-lg-4 ml-sm-auto mr-sm-auto mt-5 mt-md-0">
            {% else %}
                <div class="col-12 col-sm-10 col-md-6 col-lg-4 m-sm-auto">
            {% endif %}

                {% set image_uri = (item.image.0 is defined) ? get_image(item.image.0) : '' %}
                {% set picto = image_uri|image_style('thumbnail') %}
                {% set lqip_image = image_uri|image_style('lqip') %}
                {% set alt_image = (item.image_alt) ? item.image_alt : item.image.alt_image %}

                {% set link_attributes = create_attribute() %}
                {% set link_attributes = item.link.attributes.id is not empty ? link_attributes.setAttribute('id', item.link.attributes.id ) : link_attributes %}
                {% set link_attributes = item.link.attributes.class is not empty ? link_attributes.setAttribute('class', item.link.attributes.class ~ ' btn btn-primary') : link_attributes.setAttribute('class','btn btn-primary') %}
                {% set link_attributes = item.link.attributes.target is not empty ? link_attributes.setAttribute('target', item.link.attributes.target ) : link_attributes %}
                {% set link_attributes = item.link.attributes.rel is not empty ? link_attributes.setAttribute('rel', item.link.attributes.rel ) : link_attributes %}

                {% if extra_fields.title is not empty %}
                    <img alt="{{ alt_image }}"
                        class="lazyload"
                        src="{{ lqip_image }}"
                        data-src="{{ picto }}">
                {% endif %}
                {% if item.title is not empty %}
                     <h3>{{ item.title }}</h3>
                {% endif %}
                {% if item.description is not empty %}
                    <p>{{ item.description }}</p>
                {% endif %}
                {% if item.link.url is not empty and item.link.title is not empty %}
                     <p class="mt-3">
                        <a href="{{ item.link.url }}" {{ link_attributes }} > {{ item.link.title }} </a>
                    </p>
                {% endif %}
            </div>

        {% endfor %}

    </div>
</div>
