<div class="fdb-block">
  {% if extra_fields.title is not empty %}
    <div class="row text-center">
      <div class="col">
        <h2>{{ extra_fields.title }}</h2>
      </div>
    </div>
  {% endif %}
  <div class="row mt-5 align-items-top">

    {% for item in content %}

    {% if loop.index >= 2 %}
    <div class="col-12 col-sm-10 col-md-8 m-auto col-lg-4 text-left pt-4 pt-lg-0">
      {% else %}
      <div class="col-12 col-sm-10 col-md-8 m-auto col-lg-4 text-left">
        {% endif %}

        <div class="br">
          <div class="bg-dark p-3 text-center">
            {% if item.title is not empty %}
              <h2 class="font-weight-light">{{ item.title }}</h2>
            {% endif %}
            {% if item.price is not empty %}
              <p class="text-h2"><strong>{{ item.price }}</strong></p>
            {% endif %}
          </div>

          <div class="bg-gray p-5 text-center">

            {% set image_uri =(item.image.0 is defined) ?  get_image(item.image.0) : '' %}
            {% set picto = image_uri|image_style('thumbnail') %}
            {% set lqip_image = image_uri|image_style('lqip') %}

            {% if item.image.0 is not empty %}
              <p>
                <img alt="{{ item.image_alt }}" height="40"
                  class="lazyload"
                  src="{{ lqip_image }}"
                  data-src="{{ picto }}">
              </p>
            {% endif %}
            {% if item.subtitle is not empty %}
              <p class="text-h4"><strong>{{ item.subtitle }}</strong></p>
            {% endif %}
            <p>&nbsp;</p>
            {% if item.lists is not empty %}
              <div>{{ item.lists.value | raw }}</div>
            {% endif %}
            {% if item.link is not empty and item.link_alt is not empty %}
              {% set link_target = (item.0.link_target > 0) ? '_blank' : '_self' %}
              <p class="text-center pt-5"><a class="btn btn-primary" href="{{ item.link }}"
                                             target="{{ link_target }}">{{ item.link_alt }}</a></p>
            {% endif %}
          </div>
        </div>

      </div>

      {% endfor %}

    </div>
  </div>
