{{ attach_library('vactory_dynamic_field_unitegallery/unitegallery.video') }}


{% set unit_zoom = (extra_fields.zoom > 0) ? TRUE : FALSE %}
<div id="gallery-video"
     style="display:none;">
  {% for item in content %}
    {% set thumbnail_src = (item.thumbnail.0 is defined) ? get_image_url(item.thumbnail.0) : '' %}
    {% set image_src = (item.image.0 is defined) ? get_image_url(item.image.0) : '' %}
    {% set item_link = (item.cta_url is not empty) ? item.cta_url : '#.' %}

    <a href="{{ item_link }}">
      <img
        alt="{{ item.title }}"
        {% if item.description is not empty %} data-description="{{ item.description }}" {% endif %}
        src="{{ thumbnail_src }}"
        data-image="{{ image_src }}"

        {% if item.videoId is not empty %}
          data-type="youtube"
          data-videoid="{{ item.videoId }}"
        {% endif %}
        style="display:none">
    </a>
  {% endfor %}
</div>
