{% if dir == 'rtl' %}
    {{ attach_library('vactory_dynamic_field_default/df_default_widget_31_rtl') }}
{% else %}
    {{ attach_library('vactory_dynamic_field_default/df_default_widget_31') }}
{% endif %}

{% set content = content.0 %}

{% if content.mode == 1 %}
  {{ attach_library('vactory_dynamic_field_wysiwyg_templates/sticky_video') }}
{% endif %}

{% if content.image.0 is defined %}
  {% set image_uri = get_image(content.image.0) %}
  {% set thumbnail = file_url(image_uri) %}
  {% set lqip_image = image_uri|image_style('lqip') %}
  {% set image_alt = (content.image_alt is not empty) ? content.image_alt : content.image.alt_image %}
{% endif %}

<div class="sticky-bloc--inner">
  <button id="close-sticky-video"><div class="visually-hidden">Close</div><i class="icon icon-close"></i></button>
  {% if content.mode == 1 %}
    <figure class="content-media content-media--video" id="featured-media">
      <iframe class="content-media__object" id="featured-video" src="https://www.youtube.com/embed/{{content.video_id}}?enablejsapi=1&rel=0&showinfo=0&controls=1&autoplay=0" frameborder="0"></iframe>
    </figure>
  {% else %}
  <div class="sticky-bloc--wrapper">
    <div class="sticky-bloc">
    <div class="js-img-video">
      <a href="https://www.youtube.com/embed/{{content.video_id}}?enablejsapi=1&rel=0&showinfo=0&controls=1&autoplay=0" class="play-youtube-video">
        {% if content.image.0 is defined %}
          <img src="{{lqip_image}}" data-src="{{thumbnail}}" alt="{{image_alt}}" class="img-fluid lazyload">
        {% endif %}
      </a>
    </div>
  </div>
  </div>
  {% endif %}
</div>

<div class="mt-2">
  {{content.description|raw}}
</div>
