{% set placehold = "https://picsum.photos/id/" ~ random(1, 200) ~ "/50/50.jpg" %}
<div class="fdb-block">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 text-center">
            <div class="row justify-content-center pb-4">

                <div class="col-4 col-sm-3 col-md-2">
                    <img alt="Image Alt"
                        class="lazyload fdb-icon"
                        src="{{ content.image_placeholder }}"
                        data-src="{{ placehold }}">
                </div>

                <div class="col-4 col-sm-3 col-md-2">
                    <img alt="Image Alt"
                        class="lazyload fdb-icon"
                        src="{{ content.image_placeholder }}"
                        data-src="{{ placehold }}">                
                </div>

                <div class="col-4 col-sm-3 col-md-2">
                    <img alt="Image Alt"
                        class="lazyload fdb-icon"
                        src="{{ content.image_placeholder }}"
                        data-src="{{ placehold }}">                
                </div>
            </div>
            <div class="text-h3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book.
            </div>
        </div>
    </div>
</div>
