{% set link_attributes = create_attribute() %}
{% set link_attributes = content.0.link_1.attributes.id is not empty ? link_attributes.setAttribute('id', content.0.link_1.attributes.id ) : link_attributes %}
{% set link_attributes = content.0.link_1.attributes.class is not empty ? link_attributes.setAttribute('class', content.0.link_1.attributes.class ~ ' btn btn-primary btn-shadow') : link_attributes.setAttribute('class','btn btn-primary btn-shadow') %}
{% set link_attributes = content.0.link_1.attributes.target is not empty ? link_attributes.setAttribute('target', content.0.lilink_1nk.attributes.target ) : link_attributes %}
{% set link_attributes = content.0.link_1.attributes.rel is not empty ? link_attributes.setAttribute('rel', content.0.link_1.attributes.rel ) : link_attributes %}

{% set link_attributes_1 = create_attribute() %}
{% set link_attributes_1 = content.0.link_2.attributes.id is not empty ? link_attributes_1.setAttribute('id', content.0.link_2.attributes.id ) : link_attributes_1 %}
{% set link_attributes_1 = content.0.link_2.attributes.class is not empty ? link_attributes_1.setAttribute('class', content.0.link_2.attributes.class ~ ' btn btn-white btn-shadow ml-4') : link_attributes_1.setAttribute('class','btn btn-white btn-shadow ml-4') %}
{% set link_attributes_1 = content.0.link_2.attributes.target is not empty ? link_attributes_1.setAttribute('target', content.0.lilink_2nk.attributes.target ) : link_attributes_1 %}
{% set link_attributes_1 = content.0.link_2.attributes.rel is not empty ? link_attributes_1.setAttribute('rel', content.0.link_2.attributes.rel ) : link_attributes_1 %}

<div class="fdb-block fdb-viewport fdb-block-hasbackground">
    <div class="container">
        <div class="align-items-center justify-content-center d-flex">
            <div class="row align-items-center text-left">
                <div class="col-12 col-sm-10 col-md-8 col-lg-6">
                    {% if content.0.title is not empty %}
                        <h2>{{ content.0.title }}</h2>
                    {% endif %}
                    {% if content.0.description is not empty %}
                        <p class="text-h3">{{ content.0.description }}</p>
                    {% endif %}
                    <p class="mt-5">
                        {% if content.0.link_1.url is not empty and content.0.link_1.title is not empty %}
                            <a  href="{{ content.0.link_1.url }}" {{ link_attributes }} > {{ content.0.link_1.title }} </a>
                        {% endif %}
                        {% if content.0.link_2.url is not empty and content.0.link_2.title is not empty %}
                            <a  href="{{ content.0.link_2.url }}" {{ link_attributes }} > {{ content.0.link_2.title }} </a>
                        {% endif %}
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>
