{# Header 6 Variant #}
{{ attach_library('vactory_header/vactory_header.variant6') }}

{% import "MegaMenuMacro.html.twig" as menuStructure %}
{% set main_navigation_menu = simplify_menu('main') %}

<div id="vh-header" class="vh-header-6 vh-variant-6 vh-sticky">
  <header class="vh-header">
    <!-- Start Header Top Ection -->
    <div class="vh-header__top">
      <div class="container">
        <div class="vh-header__top-wrapper">
          <div class="vh-header__top-left d-none d-lg-flex">
            <div class="vh-header__social-link">
              {{vactory_render('block', 'socialmedialinks')}}
            </div>
          </div>
          <div class="d-flex align-items-center vh-header__top-right">
            {{ vactory_render('block', 'system_menu_block:top-navigation') }}
            <div class="vh-header__search-btn">
              <button type="button" name="search" aria-label="Search button" class="search icon-search js-btn-search-overlay" data-offcanvas-trigger="search-overlay-v3"></button>
              <span class="text-primary mr-2">{{"Recherche"|t}}</span>
            </div>
            {% if is_espace_prive_enabled %}
              {{ vactory_render('block', 'vactory_espace_prive_user_menu') }}
            {% endif %}
            <div class="vh-header__language-drop-switcher transparent d-none d-lg-flex">
              {{ vactory_render('block', 'language_dropdown_block:language_interface') }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Header Top Section -->
    
    <!-- Start Header Bottom -->
    <div class="vh-header__bottom">
      <div class="container">
        <div class="vh-header__bottom-wrapper">
          <div class="vh-header__bottom-left">
            <div class="vh-header__branding">
              {{ vactory_render('block', 'system_branding_block', {use_site_name: false}) }}
            </div>
          </div>
          <div class="vh-header__bottom-right">
            <div class="vh-header__menu">
              <nav class="navbar navbar-expand-lg">
                <div class="collapse navbar-collapse hover-dropdown d-none d-lg-block" id="navbarNavDropdown">
                  {{ menuStructure.MegaMenuMacro(main_navigation_menu.menu_tree) }}
                </div>
              </nav>
            </div>

            <div class="vh-header__hamburger d-lg-none">
              {% include('vh-hamburger.html.twig') %}
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- End Header Bottom Section -->
    <!-- Start Header Scroll Indicator -->
    <div class="vh-header__scroll-indicator"></div>
    <!-- End Header Scroll Indicator -->
  </header>
</div>

{% import "MobileMenuMacro.html.twig" as MobileMenuStructure %}

<aside class="vhm-header-6 vhm-variant js-offcanvas c-offcanvas c-offcanvas--overlay c-offcanvas--left is-closed" data-offcanvas-options='{ "modifiers": "left,overlay" }' role="complementary" id="vhm">
  <div class="vhm-header">
    <div class="vhm-header__branding">
      {{ vactory_render('block', 'system_branding_block', {use_site_name: false}) }}
    </div>

    <div class="vhm-header__language-drop-switcher">
      {{ vactory_render('block', 'language_dropdown_block:language_interface') }}
    </div>

    <nav class="vhm-header__menu">
      {{ MobileMenuStructure.MobileMenuMacro(main_navigation_menu.menu_tree) }}
    </nav>

    <div class="vhm-header__social-link">
      {{vactory_render('block', 'socialmedialinks')}}
    </div>
  </div>

</aside>
