{# Header 2 Variant #}
{{ attach_library('vactory_header/vactory_header.variant2') }}

{% import "MegaMenuMacro.html.twig" as menuStructure %}
{% set main_navigation_menu = simplify_menu('main') %}

<div id="vh-header" class="vh-header-2 vh-variant-2 vh-sticky">
  <header class="vh-header">
    <!-- Start Header Top Ection -->
    <div class="vh-header__top">
      <div class="container">
        <div class="vh-header__top-wrapper">
          <div class="vh-header__top-left">
            <div class="vh-header__branding">
              {{ vactory_render('block', 'system_branding_block', {use_site_name: false}) }}
            </div>
          </div>

          <div class="vh-header__top-right">
            <div class="vh-header__menu d-none d-lg-flex">
               {{  menuStructure.MegaMenuMacro(main_navigation_menu.menu_tree) }}
              {% if is_espace_prive_enabled %}
                {{ vactory_render('block', 'vactory_espace_prive_user_menu') }}
              {% endif %}

              <div class="vh-header__language-drop-switcher transparent">
                {{ vactory_render('block', 'language_dropdown_block:language_interface') }}
              </div>
              <div class="vh-header__search-btn">
                <button type="button" name="search" aria-label="Search button" class="search icon-search js-btn-search-overlay ml-3" data-offcanvas-trigger="search-overlay-v3"></button>
              </div>
            </div>
            <div class="vh-header__hamburger d-lg-none">
              {% include('vh-hamburger.html.twig') %}
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- End Header Top Section -->

    <!-- Start Header Scroll Indicator -->
    <div class="vh-header__scroll-indicator"></div>
    <!-- End Header Scroll Indicator -->
  </header>
</div>

{% import "MobileMenuMacro.html.twig" as MobileMenuStructure %}

<aside class="vhm-header-2 vhm-variant vhm--overlay d-lg-none is-closed" role="complementary" id="vhm">
  <div class="vhm-header">
    <div class="vhm-header__top">
      <div class="vhm-header__top-right">

        {% if is_espace_prive_enabled %}
          {{ vactory_render('block', 'vactory_espace_prive_user_menu') }}
        {% endif %}

      </div>
      <div class="vhm-header__top-left">
        <div class="vh-header__search-btn">
          <button type="button" name="search" aria-label="Search button" class="search icon-search js-btn-search-overlay" data-offcanvas-trigger="search-overlay-v3"></button>
        </div>
      </div>
    </div>
    <div class="vhm-header__middle">

      <nav class="vhm-header__menu">
        {{ MobileMenuStructure.MobileMenuMacro(main_navigation_menu.menu_tree) }}
      </nav>
    </div>
    <div class="vhm-header__bottom">
      <div class="vh-header__language-link-switcher text-center">
        {{ vactory_render('block', 'language_block:language_interface') }}
      </div>
      <div class="vhm-header__social-link">
        {{vactory_render('block', 'socialmedialinks')}}
      </div>
    </div>
  </div>
</aside>
