{% macro MegaMenuMacro(menu, level) -%}

  {# This Macro use default Bootstrap HTML structure for Navigation Menu #}
  
  {# Set our default level as an integer. #}
  {% set default_level = 1 %}

  <ul class="navbar-nav menu-level--{{ level|default(default_level) }}">
    {% for key, menu_item in menu %}

      {# Check if this is the active item. #}
      {% set active = (menu_item.active) ? ' is-active' : '' %}
      {# Check if this item is in the active trail. #}
      {% set active = active ~ ((menu_item.active_trail) ? ' is-active-trail' : '') %}

      {# Check if this item has childs. #}
      {% set has_sub = ((menu_item.submenu) ? ' has-sub dropdown' : '') %}

      {# Check if this item has childs. #}
      {% set dropdown_sub = ((level|default(default_level) > 1 ) ? ' dropdown-submenu' : '') %}

      {# Check if the link item has injected block. #}
      {% set megaMenu = (menu_item.fields.field_injected_block|render|trim is not empty) ? " has-sub dropdown mega-dropdown" : "" %}

      {# Generate ID for dropdown menu item #}
      {% set drop_item_id = 'dropdown_' ~ loop.index ~ '_' ~ random(1, 20) %}


      <li class="nav-item menu__item--{{ level|default(default_level) }}{{ has_sub }}{{megaMenu}}{{dropdown_sub}} {{ menu_item.options.attributes.class }}">

        {# Call the block injected menu if exist. #}
        {% if menu_item.fields.field_injected_block | render | trim is not empty %}
          <a href="{{ menu_item.url }}" class="nav-link dropdown-toggle menu__link{{ active }}" id="{{drop_item_id}}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ menu_item.text }}</a>
          <div class="dropdown-menu mega-menu menu-wrapper b-none animated fadeInUp" aria-labelledby="{{drop_item_id}}">
            {{ menu_item.fields.field_injected_block }}
          </div>
        {# End Injected Block #}

        {# Check if the Menu Item have a SubMenu #}
        {% elseif menu_item.submenu %}

          {# Print dropdown toggle & menu #}
          <a href="{{ menu_item.url }}" class="nav-link dropdown-toggle menu__link{{ active }}" id="{{drop_item_id}}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ menu_item.text }}</a>
          <div class="dropdown-menu menu__level--{{ level|default(default_level) }} menu-wrapper animated fadeInUp" aria-labelledby="{{drop_item_id}}">

            {# Since this menu item has a submenu, recall function and increment counter. #}
            {{ _self.MegaMenuMacro(menu_item.submenu, level|default(default_level) + 1) }}

          </div>
        {# End SubMenu #}
        {% else %}

        {# Print the Menu Link Level 1 #}
          <a href="{{ menu_item.url }}" class="nav-link menu__link{{ active }}">{{ menu_item.text }}</a>
        {% endif %}
        {# End If #}

    </li>
  {% endfor %}
</ul>
{%- endmacro %}
