{% set image_uri = (content.0.image.0 is defined) ? get_image(content.0.image.0) : "" %}
 {% set lqip_image = image_uri|image_style('lqip') %}
{% set fluid_image = file_url(image_uri) %}
{% set _mode = (content.0.mode > 0) ? 'inversed' : null %}
{% set _btn_icon = (content.0.link_icon is not empty) ? content.0.link_icon : 'icon-arrow_forward' %}
{% set _imgVideo = (content.0.video is not empty) ? 'js-img-video' : null %}
{% set _setBg = (content.0.bg > 0) ? 'block-with-bg' : null %}
{% set imageAlt = (content.0.image_alt is not empty) ? content.0.image_alt : 'Image' %}

<aside class="t-2b-image-video-title-text-button {{ _imgVideo }} {{ _setBg }} {{ _mode }}">
  <div class="row align-items-center">
    {% if content.0.mode > 0 %}
      <div class="col-12 col-md-6">
        {% if content.0.title is not empty %}
          <h2>{{ content.0.title }}</h2>
        {% endif %}
        {% if content.0.description is not empty %}
          <p class="text-large">{{ content.0.description }}</p>
        {% endif %}
        <div class="d-md-none">
          <div class="block-image {% if content.0.video is empty %} lazy-wrapper {% endif %}">
            {% if content.0.video is not empty %}
              <a class="lazy-wrapper" data-fancybox href="{{ "https://www.youtube-nocookie.com/embed/" ~ content.0.video }}"> {% endif %}
                <img alt="{{ imageAlt }}"
                     class="img-fluid lazyload"
                     src="{{ lqip_image }}"
                     data-src="{{ fluid_image }}">
                {% if content.0.video is not empty %} </a> {% endif %}
          </div>
        </div>
        {% if content.0.link is not empty and content.0.link_alt is not empty %}
          {% set link_target = (content.0.link_target > 0) ? '_blank' : '_self' %}
          <p class="t-2b-buttons"><a class="btn btn-with-icon {{ _btn_icon }}" target="{{ link_target }}"
                                     href="{{ content.0.link }}">{{ content.0.link_alt }}</a></p>
        {% endif %}
      </div>
      <div class="col-12 col-md-6 mb-4 mb-md-0 d-none d-md-block">
        <div class="block-image {% if content.0.video is not empty %} lazy-wrapper {% endif %}">
          {% if content.0.video is not empty %}
            <a class="lazy-wrapper" data-fancybox href="{{ "https://www.youtube-nocookie.com/embed/" ~ content.0.video }}"> {% endif %}
              <img alt="{{ imageAlt }}"
                   class="img-fluid lazyload"
                   src="{{ lqip_image }}"
                   data-src="{{ fluid_image }}">
              {% if content.0.video is not empty %} </a> {% endif %}
        </div>
      </div>
    {% else %}
      <div class="col-12 col-md-6 mb-4 mb-md-0 d-none d-md-block">
        <div class="block-image {% if content.0.video is not empty %} lazy-wrapper {% endif %}">
          {% if content.0.video is not empty %}
            <a  class="lazy-wrapper" data-fancybox href="{{ "https://www.youtube-nocookie.com/embed/" ~ content.0.video }}"> {% endif %}
              <img alt="{{ imageAlt }}"
                   class="img-fluid lazyload"
                   src="{{ lqip_image }}"
                   data-src="{{ fluid_image }}">
              {% if content.0.video is not empty %} </a> {% endif %}
        </div>
      </div>
      <div class="col-12 col-md-6">
        {% if content.0.title is not empty %}
          <h2>{{ content.0.title }}</h2>
        {% endif %}
        {% if content.0.description is not empty %}
          <p class="text-large">{{ content.0.description }}</p>
        {% endif %}
        <div class="d-md-none">
          <div class="block-image">
            {% if content.0.video is not empty %} <a class="lazy-wrapper" data-fancybox href="{{ "https://www.youtube-nocookie.com/embed/" ~ content.0.video }}"> {% endif %}
                <img alt="{{ imageAlt }}"
                     class="img-fluid lazyload"
                     src="{{ lqip_image }}"
                     data-src="{{ fluid_image }}">
            {% if content.0.video is not empty %} </a> {% endif %}
          </div>
        </div>

        {% if content.0.link is not empty and content.0.link_alt is not empty %}
          {% set link_target = (content.0.link_target > 0) ? '_blank' : '_self' %}
          <p class="t-2b-buttons"><a class="btn btn-with-icon {{ _btn_icon }}" target="{{ link_target }}"
                                     href="{{ content.0.link }}">{{ content.0.link_alt }}</a></p>
        {% endif %}
      </div>
    {% endif %}
  </div>
</aside>
