{% set image_uri = (extra_fields.image.0 is defined) ? get_image(extra_fields.image.0) : '' %}
{% set fluid_image = image_uri|image_style('max_650x650') %}

{% set floatedimg = (extra_fields.mode == 1)? 'left' : 'right' %}
{% set floated = (extra_fields.mode == 1)? 'justify-content-end' : '' %}

<div class="fdb-block pt-0 pb-0">
    <div class="col-fill-{{ floatedimg }}" style="background-image: url({{ fluid_image }});"><!--#--></div>

    <div class="pt-5 pb-5">
        <div class="row {{ floated }}">
            <div class="col-12 col-md-5 text-center">
                {% if extra_fields.title is not empty %}
                    <h2>{{ extra_fields.title }}</h2>
                {% endif %}
                {% if extra_fields.description is not empty %}
                    <p class="text-h3">{{ extra_fields.description }}</p>
                {% endif %}
                {% if extra_fields.link is not empty and extra_fields.link_alt is not empty %}
                    <p class="mt-4 mb-5">
                        <a class="btn btn-primary" href="{{ extra_fields.link }}" target="{{ link_target_1 }}">{{ extra_fields.link_alt }}</a>
                    </p>
                {% endif %}
                <p>Follow us on</p>
                    <p>
                        {% for item in content %}

                            {% set link_attributes = create_attribute() %}
                            {% set link_attributes = item.link.attributes.id is not empty ? link_attributes.setAttribute('id', item.link.attributes.id ) : link_attributes %}
                            {% set link_attributes = item.link.attributes.class is not empty ? link_attributes.setAttribute('class', item.link.attributes.class  ~ ' mx-2 text-secondary') : link_attributes.setAttribute('class','mx-2 text-secondary') %}
                            {% set link_attributes = item.link.attributes.target is not empty ? link_attributes.setAttribute('target', item.link.attributes.target ) : link_attributes %}
                            {% set link_attributes = item.link.attributes.rel is not empty ? link_attributes.setAttribute('rel', item.link.attributes.rel ) : link_attributes %}
                            
                            <a  href="{{ item.link.url }}" {{ link_attributes }} > 
                                <i aria-hidden="true" class="icon-{{ item.link.title }}"></i>
                            </a>
                        {% endfor %}
                    </p>
            </div>
        </div>
    </div>
</div>
