{% set image_uri = (extra_fields.image.0 is defined) ? get_image(extra_fields.image.0) : ''%}
{% set picto = image_uri|image_style('large') %}
{% set lqip_image = image_uri|image_style('lqip') %}

<div class="fdb-block">
    <div class="row justify-content-center pb-xl-5">
        <div class="col-8 col-sm-8 text-center">
            {% if extra_fields.title is not empty %}
                <h2>{{ extra_fields.title }}</h2>
            {% endif %}
            {% if extra_fields.image.0 is not empty %}
                <div class="img-ratio">
                    <img alt="{{ extra_fields.image_alt }}"
                        class="lazyload img-fluid mt-5"
                        src="{{ lqip_image }}"
                        data-src="{{ picto }}">
                </div>
            {% endif %}
        </div>
    </div>
    <div class="row text-left justify-content-center pt-5">
        {% for item in content %}

            {% if loop.index == 1 %}
                <div class="col-12 col-md-6 col-lg-5 m-sm-auto">
            {% else %}
                <div class="col-12 col-md-6 col-lg-5 m-sm-auto pt-3 pt-sm-5 pt-md-0">
            {% endif %}

                {% set image_uri = (item.image.0 is defined) ? get_image(item.image.0) : '' %}
                {% set picto = image_uri|image_style('thumbnail') %}
                {% set lqip_image_1 = image_uri|image_style('lqip') %}
                <div class="row">
                    {% if item.image.0 is not empty %}
                        <div class="col-3 lazy-wrapper">
                            <img alt="{{ item.image_alt }}"
                                class="lazyload img-fluid"
                                src="{{ lqip_image_1 }}"
                                data-src="{{ picto }}">
                        </div>
                    {% endif %}
                    <div class="col-9">
                        {% if item.title is not empty %}
                            <h3><strong>{{ item.title }}</strong></h3>
                        {% endif %}
                        {% if item.description is not empty %}
                            <p>{{ item.description }}</p>
                        {% endif %}
                    </div>
                </div>

            </div>

        {% endfor %}

    </div>
</div>
