{#
/**
 * @file
 *  Template for a pargraphs field.
 */
#}
{% set classes = [
  bundle|clean_class ~ '__' ~ field_name_clean|clean_class
] %}
{% set title_classes = [
  'field__label',
  label_display == 'visually_hidden' ? 'visually-hidden',
  label_display == 'hidden' ? 'visually-hidden',
] %}

<div{{ attributes.addClass(classes) }}>
  <strong{{ title_attributes.addClass(title_classes) }}>{{ label }}</strong>
  {% for item in items %}
    {% if item.paragraph_type is not null %}
      {#case of opener#}
      {% if  item.paragraph_type == 'opener' %}
        {#background of type image #}
        {% if item.background.type == 'image' %}
          <div {{ item.attributes.addClass(item.paragraph.classes).addClass('paragraph-background-wrapper') }} style="background-image: url({{ file_url(item.background.image) }})">
          {#background of type color #}
        {% elseif item.background.type == 'solid' %}
          <div {{ item.attributes.addClass(item.paragraph.classes).addClass('paragraph-background-wrapper') }} style="background-color: {{ item.background.color }}">
            {#background of type both image and color#}
        {% else %}
            <div {{ item.attributes.addClass(item.paragraph.classes).addClass('paragraph-background-wrapper') }} style="background-color: {{ item.background.color }}; background-image: url({{ file_url(item.background.image) }})">
        {% endif %}
        {#case of closer#}
      {% else %}
          </div>
      {% endif %}
    {% else %}
      {{ item.content }}
    {% endif %}
  {% endfor %}
</div>
