{% if classes is not defined %}
  {% set classes = [] %}
{% endif %}
{% set classes = classes|merge(['card','card--inline', 'card--locator']) %}


<article {{ attributes.addClass(classes) }}>
    <div class="card__image">
      {{ fields.field_locator_image.content }}
    </div>

    <div class="card__body">
        <h3{{ title_attributes }} class="card__title">
          {% if locator_path is not empty %}
            <a href="{{ locator_path }}">
          {% endif %}
              <span>{{ fields.name.content }}</span>
          {% if locator_path is not empty %}
            </a>
          {% endif %}
        </h3>

        <div class="card__description">
          <span>{{ fields.field_locator_country.content }}</span>
          <span>{{ fields.field_locator_city.content }}</span>
          <span>{{ fields.field_locator_adress_address_line1.content }}</span>
          <span>{{ fields.field_locator_adress_postal_code.content }}</span>
          <span>{{ fields.field_locator_phone.content }}</span>
          <span>{{ fields.field_locator_description.content }}</span>
        </div>

        <div class="card__read-more">
          <a href="#" class="btn btn-primary">{{ 'See it on maps'|t }}</a>
        </div>

    </div>
</article>
