{# UI components : Search, list ...#}
<div class="block-location">

    <div class="block-location-wrapper ">

      {% if content.vactory_locator.is_google_places %}
        {# Google places Search input  #}
        <div class=" d-flex justify-content-center flex-column">
          <div class="p-2 px-3 bg-white border rounded">
            <input type="button" class="btn-search">
            <label>{{ 'Tapez un endroit' | t }}</label>
            <input type="text" class="form-control input-places-search" id="vactory_locator_search_place_input" placeholder="{{ 'Saisissez votre endroit' | t }}">
          </div>
          {% if content.vactory_locator.is_google_places_mixte %}
            <div class="text-center m-3">
              <div class="bg-white d-inline border rounded p-2 locator-separator">
                <strong>{{ 'OU'|t }}</strong>
              </div>
            </div>
            {% include '@vactory_locator/locations-search-input.html.twig' %}
          {% endif %}
        </div>
      {% else %}
        {% include '@vactory_locator/locations-search-input.html.twig' %}
      {% endif %}

      {% if enable_filter %}
          {% if content.terms is not empty %}
              {% include '@vactory_locator/locator-category-list.html.twig' with {
                  'content': content,
              } %}
          {% endif %}
      {% endif %}

    </div>
</div>

{{ attach_library('vactory_locator/backgroundLoader') }}

{# Background image plus button #}
{% if content.vactory_locator.isOverlayActivated == 1 %}
    {% set bg_desktop = (content.vactory_locator.picture_overlay is not empty) ? content.vactory_locator.picture_overlay : ''  %}
    {% set bg_mobile = (content.vactory_locator.picture_overlay_mobile is not empty) ?  content.vactory_locator.picture_overlay_mobile : '' %}
    {% set btn_overlay = (content.vactory_locator.btn_overlay is not empty) ? content.vactory_locator.btn_overlay : 'Découvrir' %}
<div class="container_map background_image loading" data-desktop="{{ bg_desktop }}" data-mobile="{{ bg_mobile }}">
  <div class='map-overlay'></div>
  <button class="btn btn-secondary js-loadmap">{{ btn_overlay }}</button>
</div>
{% endif %}
{# Map #}
<div class="location-map-wrapper">
    <div id="vactory_locator_map" class="location-map loading"></div>
</div>
{# style="position: absolute; top: 25px; left: 25px; width:300px;" #}

<div style="display:none" id="ModalGps" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title">Error</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn-sm btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
