{#
/**
 * @file
 * Default theme implementation for locator pin.
 *
 * Available variables:
 * - name : the item name.
 * - field_locator_info : array contain item localisation info (lat & lon).
 * - field_locator_category : item category.
 * - field_locator_country_1 : item country.
 * - field_locator_city_1 : item city.
 * - field_locator_additional_adress : additional item adresse.
 * - field_locator_zipcode : item postal code.
 * - field_locator_email : item E-mail.
 * - field_locator_description : description about item.
 * - field_locator_image : uri item image.
 * - field_locator_fax : item fax.
 * - field_locator_phone : item phone number.
 * - field_locator_autre : other information about item (we have 3 other available information juste add
 *   item number (_number) in the end like this field_locator_autre_2, field_locator_autre_3, ... ).
 */
#}
<div>
  {% if name is not empty %}
    <h6> {{ name }} </h6>
  {% endif %}
  {% if field_locator_adress_address_line1 is not empty or field_locator_adress_locality is not empty %}
    <p class="mb-2"> <i class='icon-locator mr-1'></i> {{ field_locator_adress_address_line1 }} , {{ field_locator_adress_locality }} </br><span id="distance"></span> </p>
  {% endif %}
  {% if field_locator_phone is not empty %}
    <p class="mb-2"><i class='icon-phone mr-1'></i> {{ field_locator_phone }} </p>
  {% endif %}
  {% if field_locator_fax is not empty %}
    <p class="mb-2"><i class='icon-fax mr-1'></i> {{ field_locator_fax }} </p>
  {% endif %}
  {% if field_locator_email is not empty %}
    <p class="mb-2"><i class='icon-at mr-1'></i> {{ field_locator_email }} </p>
  {% endif %}
  {% if field_locator_info is not empty %}
    <div class="interaire mb-2">
      <a href="#" class="itineraire-btn" data-lat="{{field_locator_info['lat']}}"
        data-lon="{{field_locator_info['lon']}}"><i class='icon-itineraire'></i> {{"Itinéraire"|t}}</a>
    </div>
    <div class="gmaps mb-2">
      <a href="#" class="gmaps-btn mb-2" data-lat="{{field_locator_info['lat']}}"
        data-lon="{{field_locator_info['lon']}}"><i class='icon-locator-v2'></i> {{"Afficher sur Gmaps"|t}}</a>
    </div>
  {% endif %}
</div>
