<div class="fdb-block">
            {% if extra_fields.title is not empty %}
            <div class="row text-center">
              <div class="col">
                <h2>{{ extra_fields.title }}</h2>
              </div>
            </div>
            {% endif %}
    <div class="row mt-5 align-items-top">

        {% for item in content %}
                {% set link_attributes = create_attribute() %}
                {% set link_attributes = item.link.attributes.id is not empty ? link_attributes.setAttribute('id', item.link.attributes.id ) : link_attributes %}
                {% set link_attributes = item.link.attributes.class is not empty ? link_attributes.setAttribute('class', item.link.attributes.class ~ ' btn btn-primary') : link_attributes.setAttribute('class','btn btn-primary') %}
                {% set link_attributes = item.link.attributes.target is not empty ? link_attributes.setAttribute('target', item.link.attributes.target ) : link_attributes %}
                {% set link_attributes = item.link.attributes.rel is not empty ? link_attributes.setAttribute('rel', item.link.attributes.rel ) : link_attributes %}

                <div class="col-12 col-md-8 mx-auto mb-3 mb-lg-0 col-lg-4 text-center">
                {% set image_uri =(item.image.0 is defined) ?  get_image(item.image.0) : '' %}
                {% set picto = image_uri|image_style('thumbnail') %}
                {% set lqip_image = image_uri|image_style('lqip') %}
                {% set alt_image = (item.image_alt) ? item.image_alt : item.image.alt_image %}

                {% if item.image.0 is not empty %}
                    <img alt="{{ alt_image }}" height="80"
                        class="lazyload"
                        src="{{ lqip_image }}"
                        data-src="{{ picto }}">
                {% endif %}
                {% if item.title is not empty %}
                    <h2><strong>{{ item.title }}</strong></h2>
                {% endif %}
                {% if item.price is not empty %}
                    <p class="text-h3 mb-4 mb-lg-5"><em>{{ item.price }}</em></p>
                {% endif %}
                {% if item.lists  is not empty %}
                    <div>{{ item.lists.value | raw }}</div>
                {% endif %}
                {% if item.link.url is not empty and item.link.title is not empty %}
                    <p class="text-center mt-4 mt-lg-5">
                        <a href="{{ item.link.url }}" {{ link_attributes }} > {{ item.link.title }} </a>
                    </p>
                {% endif %}
            </div>

        {% endfor %}

    </div>
</div>
