{#
/**
 * @file
 * Article Component.
 * themes/interface/src/scss/stylesheets/components/article/_article.scss
 */
#}

{% if classes is not defined %}
    {% set classes = [] %}
{% endif %}
{% set classes = classes|merge(['card', 'card--academy']) %}

<article {{ attributes.addClass(classes) }}>
  {% if is_anonymous %}
    <div class="flag flag-favorite-academy js-flag-favorite-academy-2 action-flag">
      <a href="{{ url('user.login') }} {{- redirect_params }}" class="favorite-course prefix-icon-heart"></a>
    </div>
  {% else %}
    {{ content.flag_favorite_academy }}
  {% endif %}
  <div class="card__image">
    {{ addAttributes(noWrapper(content.field_vactory_media), {'class': ['img-fluid']}) }}
  </div>
  <div class="card__body">
    {{ contextual_links }}
    {{ title_prefix }}
    <h3{{ title_attributes }} class="card__title">
      {% if  url is null %}
        <span>{{ label }}</span>
      {% else %}
        <a href="{{ url }}" rel="bookmark">{{ label }}</a>
      {% endif %}
    </h3>
    {{ title_suffix }}

          {#% <h6 class="card-subtitle">
            <span class="badge badge-primary">{{ content.field_vactory_theme.0['#plain_text'] }}</span>
            {{ content.field_vactory_date.0['#text']|date('d/m/Y') }}
          </h6>#}
    <div class="card__author">
      <span class="card__author__first-name">{{ instructor.first_name|capitalize }}</span>
      <span class="card__author__last-name">{{ instructor.last_name|capitalize }}</span>
    </div>

    <div class="star-rating mb-2">
      {% set vote_rating = rate_average is defined ? rate_average : 0.00 %}
      {% set rating = vote_rating %}
      {% for i in 0..4 %}
        {% if rating >=1 %}
          <span class="favorite-star checked-full"></span>
        {% elseif rating <1  and rating >0 %}  
          <span class="favorite-star checked-half"></span>
        {% else %}
          <span class="favorite-star"></span>
        {% endif %}
        {% set rating = rating - 1 %}
      {% endfor %}
      {% if vote_rating is not null and  vote_rating > 0 %}
        <span class='ml-2'>{{ vote_rating }}</span>
      {% endif %}
    </div>
    <span class='card__date badge-primary badge-top'>{{ 'Drurée'|t }} {{ content.field_academy_duree.0['#context']['value'] }}</span>

    <div class="card__description">
      {{ noWrapper(hideLabel(content.field_vactory_excerpt)) }}
    </div>

    {% if url is not null %}
      <div class="card__read-more">
        <a href="{{ url }}" class="btn btn-primary">{{ 'Read more'|t }}</a>
      </div>
    {% endif %}
  </div>
</article>
