<div class="t-card-inline-inversed-parent">
  {% for item in content %}
    {% set Inversed2 = ((loop.index is odd) == 1) ? "flex-lg-row-reverse text-lg-right" : "" %}
    {% set image_uri = (item.image.0 is defined) ? get_image(item.image.0) : "" %}
    {% set lqip_image = image_uri|image_style('lqip') %}
    {% set fluid_image = file_url(image_uri) %}
    {% set image_alt = (item.image_alt is not empty) ? item.image_alt : item.image.alt_image %}

    {% set link_attributes = create_attribute() %}
    {% set link_attributes = item.link.attributes.id is not empty ? link_attributes.setAttribute('id', item.link.attributes.id ) : link_attributes %}
    {% set link_attributes = item.link.attributes.class is not empty ? link_attributes.setAttribute('class', item.link.attributes.class  ~ ' permalink') : link_attributes.setAttribute('class','permalink') %}
    {% set link_attributes = item.link.attributes.target is not empty ? link_attributes.setAttribute('target', item.link.attributes.target ) : link_attributes %}
    {% set link_attributes = item.link.attributes.rel is not empty ? link_attributes.setAttribute('rel', item.link.attributes.rel ) : link_attributes %}

    <div class="card card--inline d-flex flex-lg-row flex-column align-items-center {{ Inversed2 }}">
      <div class="card-image--inline">
        {% if item.link is not empty %} <a href="{{ item.link }}" target="{{ link_target }}"> {% endif %}
          <div class="lazy-wrapper">
            <img class="lazyload"
                 src="{{ lqip_image }}"
                 data-src="{{ fluid_image }}"
                 alt="{{ image_alt }}">
          </div>
          {% if item.link is not empty %} </a> {% endif %}
      </div>
      <div class="card-body--inline p-lg-4">
        <div class="card-body">
          {% if item.title is not empty %}
            <h4 class="card-title">{{ item.title }}
              {% if item.title2 is not empty %}
                <br> {{ item.title2 }}
              {% endif %}
            </h4>
          {% endif %}
          {% if item.description is not empty %}
            <p class="card-text">
              {{ item.description }}
            </p>
          {% endif %}
          {% if item.link.url is not empty and item.link.title is not empty %}
            <div class="card-read-more">
              <a href="{{ item.link.url }}" {{ link_attributes }} > {{ item.link.title }} </a>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
</div>
