<div class="t-Four-card-title-image-button-view-more">
  {% if extra_fields.introduction is not empty %}
    <div class="row">
      <div class="col-12">
        <div class="intro">
          {{ extra_fields.introduction }}
        </div>
      </div>
    </div>
  {% endif %}
  <div class="row row-eq-height vf-slick-slider vf-slick-mobile justify-content-center">
    {% for item in content %}
      {% set image_uri = (item.image.0 is defined) ? get_image(item.image.0) : "" %}
      {% set lqip_image = image_uri|image_style('lqip') %}
      {% set fluid_image = file_url(image_uri) %}
      {% set image_alt = (item.image_alt is not empty) ? item.image_alt : "Image" %}
      <div class="col-sm-6 col-md-4 col-lg-3 pb-3">
        <div class="shadow text-center h-100 py-3 px-3">
          {% if item.image.0 is not empty %}
            <div class="mb-4 lazy-wrapper">
              <img class="lazyload"
                   src="{{ lqip_image }}"
                   data-src="{{ fluid_image }}"
                   alt="{{ image_alt }}">
            </div>
          {% endif %}
          {% if item.title is not empty %}
            <p><strong>{{ item.title }}</strong></p>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>

  {% if extra_fields.link2 is not empty and extra_fields.link2_alt is not empty %}
    {% set link_target2 = (extra_fields.link2_target > 0) ? '_blank' : '_self' %}
    <div class="row">
      <div class="col-12 text-center mt-4">
        <a class="btn btn-outline-primary" href="{{ extra_fields.link2 }}"
           target="{{ link_target2 }}">{{ extra_fields.link2_alt }}</a>
      </div>
    </div>
  {% endif %}
</div>
