{% set image_uri = (content.0.image.0 is defined) ? get_image(content.0.image.0) : '' %}
{% set picto = image_uri|image_style('large') %}
{% set lqip_image = image_uri|image_style('lqip') %}

<div class="fdb-block">
    <div class="row">
        <div class="col-12">
            {% if content.0.titleglobal is not empty %}
                <h2>{{ content.0.titleglobal }}</h2>
            {% endif %}
            {% if content.0.introduction is not empty %}
                <p class="lead">
                    {{ content.0.introduction }}
                </p>
            {% endif %}
        </div>
    </div>
    <div class="row justify-content-center align-items-center pt-5">
        <div class="col-8 col-sm-3">
            <div class='lazy-wrapper'>
                {% if content.0.image.0 is not empty %}
                    <img alt="{{ content.0.image_alt }}"
                        class="lazyload img-fluid"
                        src="{{ lqip_image }}"
                        data-src="{{ picto }}">
                {% endif %}
            </div>
        </div>

        <div class="col-12 col-sm-6 m-auto pt-4 pt-sm-0">
            {% if content.0.title is not empty %}
                 <h2><strong>{{ content.0.title }}</strong></h2>
            {% endif %}
            {% if content.0.description is not empty %}
                <p class="text-h3">{{ content.0.description }}</p>
            {% endif %}
        </div>

        <div class="col-12 col-sm-3 text-center pt-4 pt-sm-0">
            {% if content.0.link_1 is not empty and content.0.link_alt_1 is not empty %}
                {% set link_target = (content.0.link_target > 0) ? '_blank' : '_self' %}
                <p><a class="btn btn-outline-primary" href="{{ content.0.link_1 }}" target="{{ link_target }}">{{ content.0.link_alt_1 }}</a></p>
            {% endif %}
            {% if content.0.link_2 is not empty and content.0.link_alt_2 is not empty %}
                {% set link_target_2 = (content.0.link_target_2 > 0) ? '_blank' : '_self' %}
                <p><a class="btn btn-primary" href="{{ content.0.link_2 }}" target="{{ link_target_2 }}">{{ content.0.link_alt_2 }}</a></p>
            {% endif %}
        </div>
    </div>
</div>
